body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    text-align: center;
    background-image: url(../img/montaña.png);
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-size: cover;
}

table{
    text-align: center;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    border-collapse: collapse;
    margin-top: 30px;
    margin-bottom: -250px;
    margin-right: 30px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

td, th{
    padding: 20px;
    border: 1px solid #000;
    width:300px;
    height: 50px;
}

.dia1{
  background-color:grey;
  color:white;
}

.dia2{
  background-color:grey;
  color:white;
}

.dia3{
  background-color:grey;
  color:white;
}

.dia4{
  background-color:grey;
  color: white;
}

.dia5{
  background-color:grey;
  color:white;
}

button {
  position:fixed;
  top:0;
  left:0;
  margin:10px;
  cursor: pointer;
  font-size: 20px;
}

.piedepagina{
  background-color: #f1f1f1;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  gap: 40px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  border: 2 px solid black;
  text-align: left;
  
}

.piedepagina p{
  margin:0;
  text-align: center;
  background-color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 16px;
}

.telefono{
  margin-right: 10px;
}

.correo{
  margin-right: 10px;
}