body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

table{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border: 1px solid #000;
    border-collapse: collapse;
    margin-top: 10px;
}

.container {
  text-align: center;
}

td, th{
    padding: 10px;
    border: 1px solid #000;
}

.dia1{
  background-color:orange;
  color:white;
}

.dia2{
  background-color:brown;
  color:white;
}

.dia3{
  background-color:blue;
  color:white;
}

.dia4{
  background-color:green;
  color:white;
}

.dia5{
  background-color:grey;
  color:white;
}

button {
  margin-top: 15px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}