#index {
    background-image: url('../img/wallpaperflare.com_wallpaper.jpg');
    margin: 15%;

}
.contenedor .contenedor #container {
  padding: 10px;
  height: 100%;
  width: 100%;
  overflow-y: auto; 
  background-color: white;
}

h1 {
    color: #7b766b;
    text-align: center;
    font-size: 300%;
    font-weight: bold;
    text-shadow: #000000 1px 1px 1px;
}

#apiform {
    display: flex;
    margin: auto;
    max-width: 50%;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    border: none;
}
#labelform {
    font-weight: bold;
    margin-right: 10px;
    border-radius: 15px;
    padding: 10px;
    border: none;
}  
#apiform input{
    display: flex;
    border-radius: 15px;
    border: none;
    background-color: rgba(255, 255, 255, 0.733);
    box-shadow: #000000 1px 1px 1px;
    padding: 10px;
    cursor: text;
} 
#apiform #submit {
    background-color: rgb(199, 205, 210);
    font-family: 'Times New Roman', Times, serif;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    display: flex;
    padding: 10px 20px;
    margin-left: auto;
}

/*
form {
    align-items: center;
    text-align: center;
    font-size: 100%;
}

#apiform {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto; ;
    max-width: 50%;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 15px;
    border: none;
}

#apiform input {
    border-radius: 15px;
    border: none;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    cursor:text;
    font-family: 'Times New Roman', Times, serif;
    font-size: 100%;
    margin: auto;
    box-shadow: #6f6c6c 1px 1px 1px;
}
#labelform {
    font-weight: bold;
}

#submit {
    background-color:aliceblue;
    font-family: 'Times New Roman', Times, serif;
    border: #000000 1px solid;
    border-radius: 15%;
    border:none;
    cursor: pointer;
    margin: auto;
    display: flex;
}
*/

