body {
    font-family: Arial, sans-serif;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
}

h1 {
    color: #cb6409;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    border: 1px solid black;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

#projectsContainer div {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

h2 {
    font-family: 'Georgia', serif;
    color: #f4a113;
    margin-top: 0;
}

p{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    margin: 8px 0;
    line-height: 1.5;
}

hr {
    border: none;
    border-top: 1px solid #eee;
    margin: 15px 0;
}